.carousel {
	width: 80%;
	height: 80%;
	margin: 0 auto;
}

nav {
  margin-bottom: 5px;
}

.card-deck{
	text-align: center;
	margin: 0 auto;
}

.card{
	margin: 8px auto;
	width: 100%;
}

.bg{
  background-color: #001011;
}


